*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  scroll-behavior:smooth;
}

:root{
  --bg:url;
  --text:#1b263b;
  --primary:#0d1b2a;
  --accent:#0077b6;
  --card:#ffffff;
}

body.dark{
  --bg:#0d1b2a;
  --text:#e0e1dd;
  --primary:#1b263b;
  --accent:#00b4d8;
  --card:#1b263b;
}

body{
  font-family:Segoe UI, sans-serif;
  background:var(--bg);
  color:var(--text);
  transition:0.3s ease;
}

header{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:20px 60px;
  position:fixed;
  width:100%;
  backdrop-filter:blur(10px);
  background:rgba(255,255,255,0.1);
  z-index:1000;
}

.nav a{
  margin:0 15px;
  text-decoration:none;
  color:var(--text);
  font-weight:600;
}

.section{
  min-height:100vh;
  display:flex;
  flex-direction:column;
    justify-content:center;
   align-items:center;
  padding:120px 20px;
  text-align:center;
  h2{
    margin-bottom: 30px;
  }
  
  }
.aboutcontent{
 padding: 5rem 2rem;
    width: min(90%, 1000px);
  
  
     p{ 
      
      margin-bottom: 15px;
      text-align: start;
     }
      
    
  }

.hero{
  flex-direction:row;
  gap:80px;
  text-align:left;
}

.hero-text{
  max-width:550px;
  p{
    margin-bottom: 30px;
  }

}

.hero h1{
  font-size:55px;
  margin:15px 0;
}

.code-box{
  background:var(--primary);
  color:white;
  padding:25px;
  border-radius:20px;
  box-shadow:0 10px 25px rgba(0,0,0,0.2);
}

.btn{
  background:var(--accent);
  color:white;
  padding:12px 18px;
  border-radius:30px;
  text-decoration:none;
  margin-right:10px;
  .buttons{
    margin-left: -20px;

  }
  
}

.btn-outline{
  border:2px solid var(--accent);
  padding:10px 18px;
  border-radius:30px;
  text-decoration:none;
  color:var(--accent);
}

.social-icons{
  display:flex;
  gap:20px;
  margin-top:20px;
}

.social-icons a{
  display:flex;
  justify-content:center;
  align-items:center;
  width:45px;
  height:45px;
  border-radius:50%;
  background:var(--card);
  color:var(--accent);
  text-decoration:none;
  transition:0.3s;
}

.social-icons a:hover{
  background:var(--accent);
  color:white;
  transform:translateY(-5px);
}

.skillsgrid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(140px,1fr));
  gap:25px;
  width:100%;
  max-width:900px;
}

.skill-card{
  background:var(--card);
  padding:25px;
  border-radius:15px;
  box-shadow:0 5px 15px rgba(0,0,0,0.1);
}

.project-grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
  gap:30px;
  max-width:1000px;
  
}

.project-card{
  background:var(--card);
  padding:25px;
  border-radius:20px;
  text-decoration:none;
  color:var(--text);
  box-shadow:0 8px 20px rgba(0,0,0,0.15);
  transition:0.3s;
}

.project-card:hover{
  transform:translateY(-10px);
}

form{
  display:flex;
  flex-direction:column;
  gap:15px;
  width:300px;
}

form input, form textarea{
  padding:12px;
  border-radius:10px;
  border:1px solid #ccc;
}

footer{
  text-align:center;
  padding:20px;
  backdrop-filter:blur(10px);
  background:rgba(255,255,255,0.1);
  z-index:1000;
  color:#0d1b2a;
}
